.add-property-container {
  display: flex;
  flex-wrap: wrap;
  margin: 5vh;
  justify-content: space-around;
  align-items: center;
}

.add-property-container form {
 display: grid;
grid-template-columns: repeat(2, 1fr);
grid-template-rows: repeat(4, 1fr);
grid-column-gap: 5px;
grid-row-gap: 5px; 
}


.description {
   grid-area: 5 / 1 / 6 / 3;
  max-height: 150px; 
  overflow-y: auto;  /* Agrega scroll cuando se sobrepasa */
}

textarea {
  resize: none;  
  width: 100%;    
  height: auto;   
}


.image-container {

  display: flex;
  flex-direction: column;
  gap: 8px;
  background-color: #f9f9f9;
  border: 1px solid #ccc;
  border-radius: 5px;
  padding: 8px;
}

.image-upload {
  margin-bottom: 15px;
  font-weight: bold;
  color: black;
  padding: 0.5em;
  border: thin solid grey;
  border-radius: 3px;
}

.image-preview {
  display: flex;
  flex-wrap: wrap;
  gap: 8px;
  justify-content: center;
}

.image-preview img {
  width: 90px;
  height: 90px;
  object-fit: cover;
  border-radius: 5px;
  border: 1px solid #ccc;
}

.card-actions {
  display: flex;
  padding: 10px;
  gap: 15px;
}

.error {
  color: red;
  font-size: 0.875rem;
  margin-top: 5px;
}


button {
  padding: 1.5vh .5vh
}

.save:hover {
  background-color: rgb(255, 162, 40);
}


input,
textarea {
  border: 1px solid rgba(0, 0, 0, 0.315);
  border-radius: 5px;
  padding: 5px;
  width: 100%;
}

