<main class="add-property-container">
    <form [formGroup]="propertyForm" (ngSubmit)="onSubmit()">
      <div class="flex flex-col">
        <label for="propertyName">Property Name</label>
        <input type="text" id="propertyName" formControlName="title" required style="border-radius: 5px;" />
      </div>
      <div class="flex flex-col">
        <label for="address">Address</label>
        <input type="text" id="address" formControlName="address" required style="border-radius: 5px;" />
      </div>
      <div class="flex flex-col">
        <label for="latitude">Latitude</label>
        <input type="number" id="latitude" formControlName="latitude" required style="border-radius: 5px;" />
      </div>
      <div class="flex flex-col">
        <label for="longitude">Longitude</label>
        <input type="number" id="longitude" formControlName="longitude" required style="border-radius: 5px;" />
      </div>
      <div class="flex flex-col">
        <label for="price">Price x Night (COP)</label>
        <input type="number" id="price" formControlName="price_per_night" required style="border-radius: 5px;" />
      </div>
      <div class="flex flex-col">
        <label for="rooms">Rooms</label>
        <input type="number" id="rooms" formControlName="num_bedrooms" required style="border-radius: 5px;" />
      </div>
      <div class="flex flex-col">
        <label for="bathrooms">Bathrooms</label>
        <input type="number" id="bathrooms" formControlName="num_bathrooms" required style="border-radius: 5px;" />
      </div>
      <div class="flex flex-col">
        <label for="max_guests">Max Guests</label>
        <input type="number" id="max_guests" formControlName="max_guests" required style="border-radius: 5px;" />
      </div>
      <div class="flex flex-col description">
        <label for="description">Description</label>
        <textarea id="description" formControlName="description" rows="3" maxlength="500" required style="border-radius: 5px;"></textarea>
      </div>
      <div class="image-container">
        <div class="image-upload bg-blend-darken">
          <label for="imageUpload">Insert Images</label>
          <input type="file" id="imageUpload" (change)="onImageUpload($event)" />
        </div>
        <div class="image-preview">
          <div *ngFor="let image of imagePreviews; let i = index" class="image-wrapper">
            <img [src]="image" alt="Preview" />
            <button class="delete-btn" type="button" (click)="removeImage(i)">X</button>
          </div>
        </div>
      </div>
      <button class="bg-orange-500 save rounded-lg text-white" type="submit">Save information</button>
      <button class="bg-black text-white rounded-lg" type="button">Cancel information</button>
    </form>
  </main>