<app-navbar></app-navbar>

@if (listingService.loading()) {
    <div class="absolute h-screen w-screen flex justify-center items-center z-200 bg-white">
        <p>Loading properties</p>
    </div>
} @else {
    <div class="flex flex-wrap justify-center gap-3 ">
        @for (item of listingService.listings(); track $index) {
            <div class="flex flex-col p-4 w-3/12 gap-3">
                <span class="flex justify-between w-full">
                    <h2 class="font-bold">{{ item.title }}</h2>
                    <p class="font-bold">{{ item.price_per_night}} COP <fa-icon [icon]="faTags"></fa-icon></p>
                </span>
                <p class="line-clamp-4">{{ item.description }}</p>
                <span class="flex justify-between w-full">
                    <p><fa-icon [icon]="faLocationDot"></fa-icon>  {{ item.address }}</p>
                </span>

                <span class="flex gap-3 w-full">
                    <p> <fa-icon [icon]="faBed"></fa-icon> {{ item.num_bedrooms }}</p>
                    <p><fa-icon [icon]="faRestroom"></fa-icon> {{ item.num_bathrooms }}</p>
                </span>
                <p><fa-icon [icon]="faPeopleGroup"></fa-icon> {{ item.max_guests }}</p>
            </div>
        }
    </div>

}