<footer class="bg-slate-100 text-slate-700">
    <div class="p-8 grid grid-cols-1 sm:grid-cols-3 gap-6">
      <div class="flex flex-col text-left space-y-3">
        <h2 class="text-lg font-bold text-slate-800">Navigation</h2>
        <a routerLink="/" class="hover:text-orange-500 transition duration-300">Home</a>
        <a routerLink="/explore" class="hover:text-orange-500 transition duration-300">Explore</a>
        <a routerLink="/owners" class="hover:text-orange-500 transition duration-300">Owners</a>
      </div>
      
      <div class="flex flex-col text-left space-y-3">
        <h2 class="text-lg font-bold text-slate-800">User Actions</h2>
        <a routerLink="/register" class="hover:text-orange-500 transition duration-300">Register</a>
        <a routerLink="/login" class="hover:text-orange-500 transition duration-300">Login</a>
        <a routerLink="/contact" class="hover:text-orange-500 transition duration-300">Contact</a>
      </div>

      <div class="flex flex-col text-left space-y-3">
        <h2 class="text-lg font-bold text-slate-800">Resources</h2>
        <a routerLink="/blog" class="hover:text-orange-500 transition duration-300">Blog</a>
        <a routerLink="/help" class="hover:text-orange-500 transition duration-300">Help Center</a>
        <a routerLink="/pqrs" class="hover:text-orange-500 transition duration-300">PQRS</a>
        <a routerLink="/faq" class="hover:text-orange-500 transition duration-300">FAQs</a>
      </div>
    </div>
    <a href='https://pngtree.com/freepng/home-house-real-estate-property-building-logo-vector_5181201.html'>png image from pngtree.com/</a>

    <div class="border-t border-slate-300"></div>
    
    <div class="p-4 flex justify-between items-center bg-slate-200">
      <p class="text-sm">© 2024 - All rights reserved</p>
      <a href="/privacy-policy" class="text-sm hover:text-orange-500 transition duration-300">Privacy Policy</a>
    </div>
  </footer>
  