<div class="h-screen flex flex-col justify-center items-center sm:flex-row gap-3">
    <div class="flex w-full flex-col items-center sm:w-3/12 font-bold lg:text-3xl text-center">
        <h2>ERROR 404</h2>
        <h2>PAGE NOT FOUND</h2>
        <p class="text-sm font-normal">This page does not exist or is not available</p>
    </div>
    <div class="flex flex-col w-6/12 justify-center items-center md:w-3/12 text-center">
        <img src="../img/error.png" class="max-w-full" alt="">
        <a routerLink="/" class="hover:text-orange-500 font-bold">Go to Home</a>
    </div>
</div>
